<div class="filter-container">
  <mat-form-field appearance="fill">
    <mat-label>Filter results</mat-label>
    <input matInput (input)="onInputChange($event)" placeholder="Enter filter term">
  </mat-form-field>
</div>

<div *ngIf="loading" class="spinner-container">
  <mat-spinner [diameter]="50" [strokeWidth]="5"></mat-spinner>
</div>

<table *ngIf="!loading" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element">
      {{ element.position }}
      <button mat-icon-button (click)="openEditDialog(element, 'Position', element.position, 'position')">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
      <button mat-icon-button (click)="openEditDialog(element, 'Name', element.name, 'name')">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element">
      {{ element.weight }}
      <button mat-icon-button (click)="openEditDialog(element, 'Weight', element.weight, 'weight')">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element">
      {{ element.symbol }}
      <button mat-icon-button (click)="openEditDialog(element, 'Symbol', element.symbol, 'symbol')">
        <mat-icon>edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
